<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317353550553-d6sio5saj5i9e2cvl5resa088fp60569.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317353550553-d6sio5saj5i9e2cvl5resa088fp60569</string>
	<key>API_KEY</key>
	<string>AIzaSyBZm57yugHFRIhizGR41rMlPeAXZzp8EOU</string>
	<key>GCM_SENDER_ID</key>
	<string>317353550553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TR.Google-Sign-In</string>
	<key>PROJECT_ID</key>
	<string>goole-sign-in-392d4</string>
	<key>STORAGE_BUCKET</key>
	<string>goole-sign-in-392d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317353550553:ios:61e10aa7c64b8cc23cd4c8</string>
</dict>
</plist>